<%= form_for @playergame, :html => {class: "form-flex"} do |f| %>
  <%= f.select :player_id, Player.all.collect { |p| [ p.alias, p.id ] } %>
  <p>VS</p>
  <%= f.select :player_id, Player.all.collect { |p| [ p.alias, p.id ] } %>
  <%= f.text_field :score, placeholder: "Score" %>
  <%= f.submit %>
<% end %>
