<h1><%=@game.location%></h1>
<table class="table" style="border-radius:5px;color:black;background: rgba(220, 175, 220, 0.8)">
  <tr>
    <th scope="col">Player</th>
    <th scope="col">Score</th>
  </tr>
  <tr>
    <td><%=@players.first.name%>"<%= @players.first.alias %>"</td>
    <td><%= @game.player_games.find_by(player: @players.first).score%></td>
  </tr>
  <tr>
    <td><%=@players.last.name%>"<%= @players.last.alias %>"</td>
    <td><%=@game.player_games.find_by(player: @players.last).score%></td>
  </tr>
</table>
<%= button_to "Edit this Game", edit_game_url, :method => :get, class: "btn btn-warning" %>
<%= button_to "Delete this Game", @game, :method => :delete, class: "m-2 btn btn-danger" %>
<div style="border-radius:5px;margin:5px;padding:5px;background: rgba(76, 175, 80, 0.7)">
<% @comments.each do |comment| %>
  <p><span style="color:yellow; text-shadow: 4px 4px 10px #000000;"><%=comment.description%></span>
    <i>created by:
    </i>
    <strong><%= comment.user.username %></strong>
  </p>
<% end %>
</div>
<%=form_for @comment, :html => {class: "form-flex"} do |f|%>
<%=f.text_field :description, placeholder: "Enter your new comment"%>
<%=f.hidden_field :game_id%>
<%=f.hidden_field :user_id%>
<%=f.submit class: "btn btn-primary"%>
<%end%>
